*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  border: 1px solid black;
  width: 30%;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightblue;
}